.banner{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.banner h3{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 34pt;
}

.banner p{
    text-align: center;
    color: #fff;
    margin: 70px 0px 0px 0px;
    font-size: 18pt;
    font-weight: 300;
}