.banner{
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
}

.banner h2{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 34pt;
}

.banner p{
    width: 600px;
    text-align: center;
    color: #fff;
    margin: 40px 0px 0px 0px;
    font-size: 18pt;
    font-weight: 300;
}